AI News Agent.json
{
  "name": "AI News Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "7a8cd5e5-865b-43f5-8ff4-a5e97464df25",
      "name": "Telegram Trigger",
      "webhookId": "90f6500f-d8de-4120-a819-d59781fb41cc",
      "credentials": {
        "telegramApi": {
          "id": "IAdVBvzkyrCLIq9x",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are an Orchestrator Agent.\n\nYour job is to coordinate specialist agents.\n\nAvailable agents:\n\n1. News Agent\n- Fetches live news articles.\n\n2. Summary Agent\n- Converts news articles into a clean bullet-point digest.\n\nRules:\n\n- Never fetch news yourself.\n- Never summarize yourself.\n- If the user says \"hi\", \"hello\", or greets you, ask what news topic they want.\n- If the user requests news:\n  1. Call the News Agent.\n  2. Wait for the News Agent to finish.\n  3. Pass the result to the Summary Agent.\n  4. Return only the Summary Agent's response.\n- Never expose raw JSON to the user."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        336,
        0
      ],
      "id": "8abdb43f-8a81-4d4e-882b-3a7b2669c6e8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        224,
        160
      ],
      "id": "0fef4791-db3d-448b-8fa5-572c7dcfffcd",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "v8TpdT7tBllO6I6n",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "text": "You are a news assistant.\n\nUse the HTTP Request tool to search for news.\n\nReturn only the news titles with short summaries.",
        "options": {
          "systemMessage": "You are the News Agent.\n\nYour job is to fetch live news articles using the HTTP Request tool.\n\nRules:\n- Always use the HTTP Request tool.\n- Never summarize.\n- Never invent news.\n- Return only the article data."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        368,
        272
      ],
      "id": "1b573b61-752c-4a70-b6a9-f91de203f749",
      "name": "News Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        288,
        416
      ],
      "id": "306fbfec-5362-40cb-843c-c16dce118fe9",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "v8TpdT7tBllO6I6n",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "AI"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "pageSize",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "2c46180169d141c3be7a1035bf65deb8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        528,
        448
      ],
      "id": "10a80b08-09ce-44b3-ba13-5545e4142e36",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "text": "You summarize text.\n\nCreate concise summaries.\n\nNever invent information.",
        "options": {
          "systemMessage": "You are the Summary Agent.\n\nYour only job is to format news articles into a readable digest.\n\nRules:\n\n- Never invent articles.\n- Never invent facts.\n- Only summarize the articles you receive.\n\nFormat:\n\n📰 News Digest\n\n1. Headline\n\nSummary (2-3 lines)\n\nSource\n\n-----------------------\n\nRepeat for every article.\n\nEnd with:\n\nThat's today's news digest."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        704,
        240
      ],
      "id": "efd478c6-2625-4f55-885e-7f7bccfba009",
      "name": "Summary Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        720,
        400
      ],
      "id": "221b0347-d5e5-461a-ba3a-64421c30deb0",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "v8TpdT7tBllO6I6n",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        752,
        0
      ],
      "id": "503c9a30-3d0e-433f-91a2-111d3be62e1d",
      "name": "Send a text message",
      "webhookId": "f24ba7d7-4517-45d7-a5c4-17fc16004815",
      "credentials": {
        "telegramApi": {
          "id": "IAdVBvzkyrCLIq9x",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "News Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "News Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Summary Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "News Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Summary Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5a56dc07-8cf7-4fb7-b30a-5b0649b236a7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "538b010ddbca5d128594593d56f93d5b298176b54e24c042b164c98c7f66c9b3"
  },
  "nodeGroups": [],
  "id": "N2OLMXdKzHKnankF",
  "tags": []
}